<div class="container mx-auto p-4">
    <h1 class="text-2xl font-regular mb-4 text-[#1d6767] text-center justify-center items-center">Recieved Applications for this opening</h1>
    <table class="min-w-full bg-white border border-gray-200">
      <thead>
        <tr>
          <th class="py-2 px-4 border-b text-[#1d6767]">Application ID</th>
          <th class="py-2 px-4 border-b text-[#1d6767]">Opening ID</th>
          <th class="py-2 px-4 border-b text-[#1d6767]">Employee Name</th>
          <th class="py-2 px-4 border-b text-[#1d6767]">Employee Id</th>
          <th class="py-2 px-4 border-b text-[#1d6767]">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let app of appliedEmployees">
          <td class="py-2 px-4  border-b">{{ app.applicationId}}</td>
          <td class="py-2 px-4 border-b">{{ app.openingId}}</td>
          <td class="py-2 px-4 border-b">{{ app.empName}}</td>
          <td class="py-2 px-4 border-b">{{ app.empId }}</td>
          <td class="py-2 px-4 border-b">
            Under Review
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  